<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[*.Tests]*;[MediaShareApp]MediaShareApp.WinForms*;[MediaShareApp]MediaShareApp.LoadScenarioRunner*;[MediaShareApp]MediaShareApp.LoadTestResult*</Exclude>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <Threshold>70</Threshold>
          <ThresholdType>Line</ThresholdType>
          <ThresholdStat>Total</ThresholdStat>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
